:host ::ng-deep b {
    display: block
}

:host ::ng-deep .p-card-body {
    padding: 2rem;
}

:host ::ng-deep .p-steps .p-steps-item .p-menuitem-link{
    background-color: inherit;
    color: white; //nu se aplica...??
}


