<div class="user-container">
    <p-card>
    <h1>User details</h1>
    <form [formGroup]="accountForm">
        <div class="fields-container">
            <div class="form-field">
                <input type="text" id="user-name" placeholder="Username" pInputText formControlName="username" />
            </div>
            <div class="form-field">
                <input id="email" type="text" pInputText formControlName="email">
            </div>
            <div>
                <p-password [toggleMask]="true" placeholder="New Password" formControlName="password"></p-password>
            </div>
        </div>
    </form>
    <div class="action-buttons">
        <p-button label="Submit" (onClick)="updateAccount()"></p-button>
    </div>
</p-card>    
</div>
