:host {
    display: grid;
    justify-items: start;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
}

input {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
  }
a{
    display: flex;
    justify-content: center;
    color: white;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
}

h1{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 14px;
}

.action-buttons{
    display: flex;
    justify-content: center;
    margin: 14px;
}

:host ::ng-deep .p-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
:host ::ng-deep .p-card .p-card-content {
     padding: unset; 
}

:host ::ng-deep .p-card {
    margin-top: 158px;
    margin-left: 179px;
}

.card-img{
    height: 100%;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}