:host {
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-container {
    margin-top: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
}

.form-field {
    width: 100;
}

input {
    margin: 10px 0px;
    width: 100;
    // height: 30px;
    // border: 1px solid var(--pale-blue-green);
    // border-radius: 4px;
    padding: 10px;
  }

// .fields-container {}

a{
    margin-top: 15px;
    color: #005dcc;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
}