<p-card [style]="{ width: '560px' }" styleClass="shadow-2">
  <ng-template pTemplate="header">
    <img class="card-img" src="assets/images/login-card2.jpg" alt="card-image" />
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="user-container">
      <h1>Login</h1>
      <form [formGroup]="userForm">
        <div class="fields-container">
          <div class="form-field">
            <input id="email" type="email" placeholder="Email" pInputText formControlName="email">
          </div>
          <div class="form-field">
            <input type="password" pInputText placeholder="Password" formControlName="password" />
          </div>
        </div>
      </form>
      <div class="action-buttons">
        <p-button label="Submit" (onClick)="login()"></p-button>
      </div>
      <a routerLink="/register">Create an account</a>
    </div>
  </ng-template>
</p-card>