<div class="user-container">
    <h1>Login</h1>
    <form [formGroup]="userForm">
        <div class="fields-container">
            <div class="form-field p-float-label">
                <input id="email" type="email" pInputText formControlName="email">
                <label for="email">Email</label>
            </div>
            <div class="form-field">
                <p-password  [feedback]="false" [inputStyle]="{ width: '100%' }" placeholder="Password" formControlName="password">
                </p-password>
            </div>
        </div>
    </form>
    <div class="action-buttons">
        <p-button label="Submit" (onClick)="login()"></p-button>
    </div>
    <a routerLink="/register">Create an account</a>
</div>