:host {
    display: flex;
    justify-content: center;
    align-content: center;
}

.fields-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}


input {
    margin: 10px 0px;
    padding: 10px;
}

.action-buttons {
    display: grid;
    justify-content: right;

}

:host ::ng-deep .p-card .p-card-content {
    padding: unset;
}