:host {
    display: flex;
    justify-content: center;
    align-content: center;
}

.fields-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;

}

input {
    padding: 10px;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

