:host {
    display: flex;
    justify-content: center;
    align-content: center;
}

.stock-container {
    margin-top: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
}

input {
    margin: 10px 0px;
    padding: 10px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;

}

::ng-deep [_nghost-yai-c75] .p-card-body {
    padding: 2rem;
}